* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    
    
}
.text {
    background-position: 50% 50%;
    margin: auto;
    color: darkcyan;
    padding: 20px;
    
}
.block {
    width: 480px;
    box-shadow: 0 0 2px 2px rosybrown;
    margin: auto;  
}